.custom_section {
  width: 100vw;
  height: 100vh;

  .grid_container {
    margin-top: 5rem;
    .custom_colum {
      &.left_column {
        padding: 0rem 2rem;
        .slider_wrapper {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          margin-bottom: 2rem;
          position: relative;
          .slider_title {
            width: 100%;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .slider_input {
              width: 6.25rem;
              display: flex;
              align-items: flex-end;
              span {
                padding-left: .625rem;
                font-size: 1.125rem;
              }
            }
          }
        }
      }
      &.right_column {
        display: flex;
        justify-content: center;
        border-radius: 0.625rem;
        .display_box {
          z-index: 1;
          background-color: rgb(195, 192, 186);
          border-radius: 0.625rem;
          width: 90%;
          height: 25rem;
          padding: 2rem;
          display: flex;
          align-items: center;
          .result_content {
            min-height: 20vh;
            min-width: 100%;
            // -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            // -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            // box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            background-color: #ffffff;
            border-radius: 0.3125rem;
            border: 1px solid #000000;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0rem 2rem;
            .textCopy_icon {
              position: absolute;
              right: 0.3125rem;
              top: 0.625rem;
            }
            h6 {
              line-height: 1.25rem;
            }
          }
        }
      }
    }
  }
}
