.slider_wrapper {
    .slider_title {
        .slider_input {
            span {
                .degree_sub {
                    height: 100%;
                    position: absolute;
                    right: -5px;
                    top: -3px;
                }
            }
        }
    }
}