

head {
  overflow: hidden;
}

body {
  overflow: overlay;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000000;
  // background-color:  #f8fbff;;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

// a,
// .anchor {
//   text-decoration: none;
//   color: #000000;

//   &:hover {
//     color: #ac9657;
//   }
// }

[role="presentation"] {
  cursor: pointer;
}

.icon_large {
  font-size: 2rem !important;
}

.custom_section {
  padding-top: 15vh;
  .title {
      text-align: center;
  }

  .colorPicker_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    .MuiFormControl-root {
      width: 200px;
      .MuiInputBase-root {
        height: 30px;
        .MuiInputAdornment-root {
          button {
            width: 20px;
            height: 20px;
          }
        }
        
      }
    }
  }
}


.custom_section {
  width: 100vw;
  height: 100vh;
  background-color: #f8fbff;
  .grid_container {
    margin-top: 5rem;
    .custom_colum {
      &.left_column {
        padding: 2rem 2rem;
        box-shadow: 0px 0px 10px 0px rgb(181, 181, 181);
        border-radius: .3125rem;
        height: 100%;
        .slider_wrapper {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          margin-bottom: 2rem;
          position: relative;
          .slider_title {
            width: 100%;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .slider_input {
              width: 6.25rem;
              display: flex;
              align-items: flex-end;
              span {
                padding-left: .625rem;
                font-size: 1.125rem;
              }
            }
          }
        }
      }
      &.right_column {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        border-radius: 0.625rem;
        .display_box {
          z-index: 1;
          background-color: rgb(195, 192, 186);
          border-radius: 0.625rem;
          width: 20rem;
          height: 20rem;
          padding: 2rem;
          display: flex;
          align-items: center;

        }
        .result_content {
          min-width: 100%;
          margin-top: 40px;
          background-color: #ffffff;
          border-radius: 0.3125rem;
          border: 1px solid #000000;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 2rem;
          .textCopy_icon {
            position: absolute;
            right: 0.3125rem;
            top: 0.625rem;
          }
          h6 {
            line-height: 1.25rem;
          }
        }
      }
    }
  }
}